EKInterface,
#EKview {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


EKBannerWidget > #EKgalleryLabel {
    font: 42px 'Segoe UI SemiBold', 'Microsoft YaHei SemiBold';
    background-color: transparent;
    color: black;
    padding-left: 28px;
}
